@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Cabeza*/

.gradiente {
    background: rgb(163, 110, 158);
    background: linear-gradient(90deg, rgba(163, 110, 158, 1) 43%, rgba(223, 203, 218, 0.29744397759103647) 70%);
}

.cabeza__nav__div__a__h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.cabeza__nav__div__div__ul__li__a {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}

.cabeza__nav__div__div__ul__li__ul__li__a {
    font-family: "Pacifico", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: xx-large;
}

/*WhatsApp*/

.cuerpo__icono .cuerpo__icono__position .cuerpo__icono__position__link .cuerpo__icono__position__imagen {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 150px;
    right: 30px;
    transition-property: width height;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}

.cuerpo__icono .cuerpo__icono__position .cuerpo__icono__position__link .cuerpo__icono__position__imagen:hover {
    width: 120px;
    height: 120px;
}

@media screen and (max-width: 768px) {
    .cuerpo__icono .cuerpo__icono__position .cuerpo__icono__position__link .cuerpo__icono__position__imagen {
        width: 60px;
        height: 60px;
    }
}

/*Carrousel*/

@media screen and (max-width: 600px) {
    .carousel-titulo {
        font-size: medium;
    }

    .carousel-comentarios {
        font-size: small;
    }
}

/*Contacto*/

.cuerpo__mapa {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    .cuerpo__mapa {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.cuerpo__mapa__mapa {
    width: 80%;
    margin: 30px;

}

/*Cuerpo*/

.cuerpo {
    background: linear-gradient(rgba(255, 255, 255, 0.842), rgba(206, 141, 22, 0.74)), url("../img/productos.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Pagina inicio*/

.principal__imagen {
    width: 100%;
}

.principal__imagen__imagen {
    width: 40%;
    position: absolute;
    left: 50px;
    margin-top: 80px;
}

/*Pie*/

.pie__caja {
    display: flex;
    justify-content: space-around;
}

.redessociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pie .pie__caja .pie__caja__redessociales .pie__caja__imagen {
    width: 100px;
    height: 100px;
    margin: 10px;
    transition-property: width height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}

.pie .pie__caja .pie__caja__redessociales .pie__caja__imagen:hover {
    width: 120px;
    height: 120px;
    background-color: yellow;
    border-radius: 100px;
}

@media screen and (max-width: 520px) {
    .pie__caja__redessociales {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pie__caja__titulo {
    margin-left: 10px;
}

.pie__caja__datos {
    margin-top: 20px;
}

.pie .pie__caja .pie__caja__datos .pie__caja__datos__texto {
    width: 100%;
    height: 120px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 920px) {
    .pie .pie__caja {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

/*Pedidos*/

.pedidos {
    padding: 30px;
}

.pedidos__titulo {
    text-align: center;

}

.pedidos__pedidos {
    display: flex;
    justify-content: space-around;
}

.pedidos__pedidos__pedidos {
    width: 300px;
}

@media screen and (max-width: 670px) {
    .pedidos__pedidos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/*Nosotros*/

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "cabeza cabeza cabeza"
        "aside cuerpo cuerpo"
        "pie pie pie"
    ;
}

.grid__cabeza {
    grid-area: cabeza;
}

.grid__cuerpo {
    grid-area: cuerpo;
}

.grid__aside {
    grid-area: aside;
}

.grid__pie {
    grid-area: pie;
}

@media screen and (max-width: 920px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "cabeza"
            "cuerpo"
            "aside"
            "pie"
        ;
    }
}

.grid__aside__principal {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: rgb(163, 110, 158);
}

@media screen and (max-width: 920px) {
    .grid__aside__principal {
        padding-top: 10px;
        background: rgb(163, 110, 158);
        background: linear-gradient(90deg, rgba(163, 110, 158, 1) 43%, rgba(223, 203, 218, 0.29744397759103647) 70%);
    }
}

.grid__cuerpo__historia__caja {
    border: 10px;
    border-style: double;
    padding: 20px;
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
}

.grid__cuerpo__histoia__caja__parrafo {
    text-align: center;
}

.grid__cuerpo__historia__caja__tituloh2 {
    text-align: center;
    color: blue;
}

.grid__cuerpo__historia__caja__tituloh3 {
    text-align: center;
    color: red;
}

.grid__cuerpo__historia__caja__tituloh4 {
    text-align: center;
    color: green;
}

.grid__aside__principal__cajas1__imagen {
    width: 100%;
}

.grid__aside__principal__caja1 {
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    width: 375px;
    background-color: rgb(175, 223, 127);
}

/*Productos*/

.velas {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.velas__imagen {
    width: 100%;
}

.velas__titulo {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.velas__parrafo {
    font-size: medium;
    font-style: italic;
    text-align: center;
}

.velas__caja {
    border-radius: 2px;
    border: 10px;
    padding: 3px;
    border-style: double;
}